{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "charge list" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col"><h1>{% trans "Charges" %} - {{ lodge }}</h1></div>
</div>
<div class="row">
  <div class="col">
    <ul>
      {% for charge in charges %}
      <div class="row">
        <div class="col">
          <a href="{% url 'treasure:charge-detail' charge.id %}">
            <b>{{ charge }}</b>
          </a>
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
