{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "deposit list" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col"><h1>{% trans "Deposits" %} - {{ lodge }}</h1></div>
</div>
<div class="row">
  <div class="col">
    <ul>
      {% for deposit in deposits %}
      <div class="row">
        <div class="col">
          <a href="{% url 'treasure:deposit-detail' deposit.id %}">
            <b>{{ deposit }}</b>
          </a>
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
