{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "invoice list" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col"><h1>{% trans "Invoices" %} - {{ lodge }}</h1></div>
</div>
<div class="row">
  <div class="col">
    <ul>
      {% for invoice in invoices %}
      <div class="row">
        <div class="col">
          <a href="{% url 'treasure:invoice-detail' invoice.id %}">
            <b>{{ invoice }}</b>
          </a>
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
