{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "lodge account egress list" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col"><h1>{% trans "Lodge Account Egresses" %} - {{ lodge }}</h1></div>
</div>
<div class="row">
  <div class="col">
    <ul>
      {% for egress in egresses %}
      <div class="row">
        <div class="col">
          <a href="{% url 'treasure:lodgeaccountegress-detail' egress.id %}">
            <b>{{ egress }}</b>
          </a>
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
