{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "lodge account transfer list" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col"><h1>{% trans "Lodge Account Transfers" %} - {{ lodge }}</h1></div>
</div>
<div class="row">
  <div class="col">
    <ul>
      {% for transfer in transfers %}
      <div class="row">
        <div class="col">
          <a href="{% url 'treasure:lodgeaccounttransfer-detail' transfer.id %}">
            <b>{{ transfer }}</b>
          </a>
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
