{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "lodge detail" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col"><h1>{% trans "Lodge" %} {{ lodge }}</h1></div>
</div>
<div class="row">
  <div class="col">
    <ul>
      {% for affiliation in lodge.affiliations.all %}
      {% if affiliation.is_active %}
      <div class="row">
        <div class="col">
          <a href="{% url 'users:affiliation-detail' affiliation.id %}">
            <b>{{ affiliation }}</b>
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row">
  <div class="col"><h3>{% trans "Listings filtered by this lodge" %}</h1></div>
</div>
<div class="row">
  <div class="col">
    <li>
      <a href="{% url 'treasure:lodgeaccount-list' lodge.id %}">
        {% trans "List Lodge Accounts" %}
      </a>
    </li>
    <li>
      <a href="{% url 'treasure:debtor-list' lodge.id %}">
        {% trans "List Debtors" %}
      </a>
    </li>
    <li>
      <a href="{% url 'treasure:period-list' lodge.id %}">
        {% trans "List Periods" %}
      </a>
    </li>
    <li>
      <a href="{% url 'treasure:invoice-list' lodge.id %}">
        {% trans "List Invoices" %}
      </a>
    </li>
    <li>
      <a href="{% url 'treasure:charge-list' lodge.id %}">
        {% trans "List Charges" %}
      </a>
    </li>
    <li>
      <a href="{% url 'treasure:deposit-list' lodge.id %}">
        {% trans "List Deposit" %}
      </a>
    </li>
    <li>
      <a href="{% url 'treasure:grandlodgedeposit-list' lodge.id %}">
        {% trans "List Grand Lodge Deposits" %}
      </a>
    </li>
    <li>
      <a href="{% url 'treasure:lodgeaccountingress-list' lodge.id %}">
        {% trans "List Ingresses" %}
      </a>
    </li>
    <li>
      <a href="{% url 'treasure:lodgeaccountegress-list' lodge.id %}">
        {% trans "List Egresses" %}
      </a>
    </li>
    <li>
      <a href="{% url 'treasure:lodgeaccounttransfer-list' lodge.id %}">
        {% trans "List Transfers" %}
      </a>
    </li>
  </div>
</div>
<div class="row">
  <div class="col"><h3>{% trans "Actions" %}</h1></div>
</div>
<div class="row">
  <form class="form-horizontal" method="post" action="{% url 'users:lodge-detail' lodge.id %}">
    {% csrf_token %}
    <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">
        {% trans "Send Mass Email with Account Balance" %}
      </button>
    </div>
    </div>
  </form>
</div>
{% endblock %}
