{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "user detail" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col"><h1>{% trans "User Profile" %}</h1></div>
</div>
<div class="row">
  <div class="col">
    <h3>{{ user.last_name }}, {{ user.first_name }} ({{ user.degree }})</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    {% trans "Title" %}: 
    {% if user.most_worshipful %}
      {% trans "Most Worshipful Brother" %}
    {% elif user.worshipful %}
      {% trans "Worshipful Brother" %}
    {% elif user.past_master %}
      {% trans "Worshipful Master" %}
    {% else %}
      {% trans "Brother" %}
    {% endif %}
  </div>
</div>
{% if user.initiated %}
<div class="row">
  <div class="col">{% trans "Initiated on" %} {{ user.initiated }}</div>
</div>
{% endif %}
{% if user.passed %}
<div class="row">
  <div class="col">{% trans "Passed on" %} {{ user.passed }}</div>
</div>
{% endif %}
{% if user.raised %}
<div class="row">
  <div class="col">{% trans "Raised on" %} {{ user.passed }}</div>
</div>
{% endif %}
<div class="row">
  <div class="col"><h2>{% trans "Treasure" %}</h2></div>
</div>
<div class="row">
  <div class="col">
    <ul>
      {% for affiliation in affiliations %}
        <div class="row">
          <div class="col"><b>{{ affiliation.lodge.name }}</b></div>
        </div>
        <div class="row">
          <div class="col">
            <b>{% trans "Balance" %} $ {{ affiliation.account.balance }}</b>
          </div>
        </div>
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{% trans "Movement" %}</th>
              <th>{% trans "Amount" %}</th>
              <th>{% trans "Balance" %}</th>
              <th>{% trans "Created by" %}</th>
              <th>{% trans "Created on" %}</th>
            </tr>
          </thead>
          <tbody>
          {% for movement in affiliation.account.movements.all %}
            {% if movement.is_active %}
            <tr>
              {% if movement.account_movement_type == "I" %}
              <td>{% trans "Deposit" %}</td>
              {% elif movement.account_movement_type == "D" %}
              <td>{% trans "Invoice" %}</td>
              {% elif movement.account_movement_type == "C" %}
              <td>{% trans "Charge" %}</td>
              {% elif movement.account_movement_type == "G" %}
              <td>{% trans "Grand Lodge Deposit" %}</td>
              {% else %}
              <td>{% trans "Unknown" %}</td>
              {% endif %}
              <td>$ {{ movement.amount }}</td>
              <td>$ {{ movement.balance }}</td>
              <td>{{ movement.created_by }}</td>
              <td>{{ movement.created_on  }}</td>
            </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
